.sneakers {
  &-filters {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 20px;

    ::ng-deep .mat-card {
      width: 30%;
      cursor: pointer;

      // &:hover{
      //   border: 1px solid #FFD700;
      //   border-radius: 5px;
      //   transition: 0.5s;
      // }

      .mat-card-image {
        max-height: 90% !important;
      }
    }
  }
}

.filter {
  &-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    height: 80vh;

    .filter-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    ::ng-deep mat-radio-group {
      display: flex;
      column-gap: 20px;
    }

    .radio-sortBy {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
    }
    &-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.applied-filters-container {
  display: flex;
}

@media screen and (max-width: 599px) {
  .applied-filters-container {
    display: none;
  }
  .sneakers {
    &-list-container {
      justify-content: center;
      padding: 20px !important;

      ::ng-deep .mat-card {
        width: 45%;
      }
    }
  }
}
