
$light-primary: (
  50 : #feeae4,
  100 : #fecbbc,
  200 : #fda98f,
  300 : #fc8662,
  400 : #fb6c40,
  500 : #fa521e,
  600 : #f94b1a,
  700 : #f94116,
  800 : #f83812,
  900 : #f6280a,
  A100 : #ffffff,
  A200 : #ffeeec,
  A400 : #ffc0b9,
  A700 : #ffa9a0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000, 
  )
);

$light-accent: (
  50 : #fffbe0,
  100 : #fff5b3,
  200 : #ffef80,
  300 : #ffe94d,
  400 : #ffe426,
  500 : #ffdf00,
  600 : #ffdb00,
  700 : #ffd700,
  800 : #ffd200,
  900 : #ffca00,
  A100 : #ffffff,
  A200 : #fffcf2,
  A400 : #fff0bf,
  A700 : #ffeaa6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$dark-primary: (
  50 : #e4e4e4,
  100 : #bcbcbc,
  200 : #909090,
  300 : #646464,
  400 : #424242,
  500 : #212121,
  600 : #1d1d1d,
  700 : #181818,
  800 : #141414,
  900 : #0b0b0b,
  A100 : #e76c6c,
  A200 : #e04040,
  A400 : #ec0000,
  A700 : #d30000,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
